<div class="mt-2 border-c-gray:+50 border-1 rounded-md pa-2" id="following">
    <h2 class="text-120 text-w-bold">{{ x.lans("following") }}</h2>
    <div class="">
        {% if following and following|length > 0 %}
        {% for follow in following: %}
        {% include "___following_users.html" %}
        {% endfor %}
        <button class="text-c-tealblue text-90">{{ x.lans("show_more") }}</button>
        {% else %}
        <p>{{ x.lans("no_following") }}</p>
        {% endif %}
    </div>
</div>