<div class="mt-2 border-c-gray:+50 border-1 rounded-md pa-2" id="who_to_follow">
    <h2 class="text-120 text-w-bold">{{ x.lans("who_to_follow") }}</h2>
    <div class="">

        {% if suggestions and suggestions|length > 0 %}
        {% for suggestion in suggestions: %}
        {% include "___user_to_follow.html" %}
        {% endfor %}

        {% else %}
        <p>{{ x.lans("no_one_to_follow") }}</p>
        {% endif %}

        <button class="text-c-tealblue text-90">{{ x.lans("show_more") }}</button>
    </div>
</div>